<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leaderboard</title>
        <link rel="stylesheet" href="static/app.css">
    </head>
<body>

    








    <div class="home-header">

        <div class="home-links">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('home') }}">Hjem</a>
            <a href="{{ url_for('flappy') }}">Flappy Bird</a>
            {% else %}
            <a href="{{ url_for('leaderboard') }}">View Leaderboard</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
    </div>


    <div class="leaderboard-allt">
        <div class="leaderboard-container">
            <h1 class="leaderboard-title">Flappy Bird</h1>
            <h1 class="leaderboard-title">Leaderboard</h1>
            <table class="leaderboard-table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Spiller</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for score in scores %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ score.user.username }}</td>
                        <td>{{ score.flappyScore }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>






</body>
</html>

