<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlappyBird</title>
    <link rel="stylesheet" href="static/app.css" > 
    <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
</head>
<body>

    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">


    <div class="home-header">
        <div class="header-logget">
            {% if current_user.is_authenticated %}
            <p style="font-weight: bold;">Logget inn som: {{ current_user.username }}</p>

            {% else %}
            <p style="font-weight: bold;">Ikke logget inn</p>
            {% endif %}
        </div>
        

        <div class="home-links">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('home')}}">Hjem</a>
            <a href="{{ url_for('flappyboard') }}">Se leaderboard</a>
            
            {% else %}

            <a href="{{ url_for('leaderboard') }}">Se Leaderboard</a>
            <a href="{{ url_for('login') }}">Logg inn</a>
            <a href="{{ url_for('register') }}">Registrer</a>
            {% endif %}
        </div>
        <div class="header-faq">
            <a href="{{url_for('faq')}}"><p>Info</p></a>
        </div>
    </div>

    <div class="flytt">
        <p>Spill fra GitHub bruker aaarafat: <a href="https://github.com/aaarafat/JS-Flappy-Bird" target="_blank">Github spill</a></p>
    </div>

    <div>
    <h1 style="text-align: center;">Flappy Bird</h1>
    <canvas id="canvas" width="276" height="414"></canvas>
    <script src="static/flappy.js"></script>
    </div>

</body>
</html>