<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glemt Passord</title>
    <link rel="stylesheet" href="static/app.css">
</head>
<body class="forgot-password-page">
    <h1 class="forgot-password-title">Glemt Passord</h1>
    
    <form class="forgot-password-form" method="POST">
        {{ form.hidden_tag() }}
        
        <div class="form-group email-group">
            {{ form.email.label(class="form-label") }} 
            {{ form.email(size=32, class="form-input") }} 
            {% for error in form.email.errors %}
                <span class="error-message">{{ error }}</span> 
            {% endfor %}
        </div>
        
        <div class="form-group submit-group">
            {{ form.submit(class="form-submit") }} 
        </div>
    </form>

    <div class="bottom-links">
        <div>
            <p class="register-link">Logg inn? <a href="{{ url_for('login') }}" class="back-to-login-link">Logg inn</a>.</p>
        </div>
       
    </div>
   
</body>
</html>
