<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="static/app.css">
</head>

<body>
    <div class="home-header">
        <div class="header-logget">
            {% if current_user.is_authenticated %}
            <p style="font-weight: bold;">Logget inn som: {{ current_user.username }}</p>

            {% else %}
            <p style="font-weight: bold;">Ikke logget inn</p>
            {% endif %}
        </div>
        

        <div class="home-links">
            {% if current_user.is_authenticated %}
            
            <a href="{{ url_for('logout') }}">Logg ut</a>
            
            {% else %}

            <a href="{{ url_for('leaderboard') }}">Se Leaderboard</a>
            <a href="{{ url_for('login') }}">Logg inn</a>
            <a href="{{ url_for('register') }}">Registrer</a>
            {% endif %}
        </div>
        <div class="header-faq">
            <a href="{{url_for('faq')}}"><p>Info</p></a>
        </div>
    </div>



    <div class="homepage-wrapper">

        <h1>Hjemmeside</h1>
        <h2>Velg ett spill</h2>

        <div class="games-container">
            <div class="game-card">
                <a href="{{ url_for('spill') }}">
                    <img src="static/bilder/spill-bilde.png" alt="Game 1 Image">
                </a>
                <p class="game-name">Stein, saks, papir</p>
            </div>

            <div class="game-card">
                <a href="{{ url_for('flappy') }}">
                    <img src="static/bilder/flappy.jpg" alt="">
                </a>        
                <p>Flappy bird</p>
            </div>

            <div class="game-card">
                <a href="{{ url_for('snake') }}">
                    <img src="static/bilder/snake.jpg" alt="Game 1 Image">
                </a>
                <p class="game-name">Snake</p>
            </div>
        </div>
    </div>

<div>
    <div class="footer">

    </div>
</div>

</body>

</html>