<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="static/app.css">
</head>

<body>

    <div class="home-header">
        <div class="header-logget">
            {% if current_user.is_authenticated %}
            <p style="font-weight: bold;">Logget inn som: {{ current_user.username }}</p>

            {% else %}
            <p style="font-weight: bold;">Ikke logget inn</p>
            {% endif %}
        </div>
        

        <div class="home-links">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('home')}}">Hjem</a>
            <a href="{{ url_for('spill') }}">Stein, Saks, Papir</a>
            
            {% else %}

            <a href="{{ url_for('leaderboard') }}">Se Leaderboard</a>
            <a href="{{ url_for('login') }}">Logg inn</a>
            <a href="{{ url_for('register') }}">Registrer</a>
            {% endif %}
        </div>
        <div class="header-faq">
            <a href="{{url_for('faq')}}"><p>Info</p></a>
        </div>
    </div>


    <div class="leaderboard-allt">
        <div class="leaderboard-container">
            <h1 class="leaderboard-title">Stein, saks, papir</h1>
            <h1 class="leaderboard-title">Leaderboard</h1>
            <table class="leaderboard-table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Spiller</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for score in scores %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ score.user.username }}</td>
                        <td>{{ score.score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>