<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logg inn</title>
    <link rel="stylesheet" href="static/app.css"> 
</head>
<body class="login-page">
    <h1 class="login-title">Login</h1>
    
    <form class="login-form" method="POST">
        {{ form.hidden_tag() }}
        
        <div class="form-group email-group">
            {{ form.email.label(class="form-label") }} 
            {{ form.email(size=32, class="form-input") }} 
            {% for error in form.email.errors %}
                <span class="error-message">{{ error }}</span> 
            {% endfor %}
        </div>
        
        <div class="form-group password-group">
            {{ form.password.label(class="form-label") }} 
            {{ form.password(size=32, class="form-input") }} 
            {% for error in form.password.errors %}
                <span class="error-message">{{ error }}</span> 
            {% endfor %}
        </div>
        
        <div class="form-group submit-group">
            {{ form.submit(class="form-submit") }} 
        </div>
    </form>

    <div class="bottom-links">
        <div>
            <p class="register-link">Har ikke en bruker? <a href="{{ url_for('register') }}">Registrer her</a>.</p>
        </div>
        <div>
            <p class="register-link">Glemte passord? <a href="{{ url_for('forgot_password') }}" class="forgot-password-link">Klikk her</a></p>
        </div>
        <div>
            <p class="register-link">Dra til hjem <a href="{{url_for('home')}}" class="forgot-password-link">Hjem</a></p>
        </div>
    </div>
</body>
</html>
