<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stein, saks, papir</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <div class="home-header">
        <div class="header-logget">
            {% if current_user.is_authenticated %}
            <p style="font-weight: bold;">Logget inn som: {{ current_user.username }}</p>

            {% else %}
            <p style="font-weight: bold;">Ikke logget inn</p>
            {% endif %}
        </div>
        

        <div class="home-links">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('home')}}">Hjem</a>
            <a href="{{ url_for('leaderboard') }}">Se leaderboard</a>
            
            {% else %}

            <a href="{{ url_for('leaderboard') }}">Se Leaderboard</a>
            <a href="{{ url_for('login') }}">Logg inn</a>
            <a href="{{ url_for('register') }}">Registrer</a>
            {% endif %}
        </div>
        <div class="header-faq">
            <a href="{{url_for('faq')}}"><p>Info</p></a>
        </div>
    </div>

    <div class="games">
        <div class="game-container">
            <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
            <div class="tittel">
                <h1>Stein, saks, papir</h1>
            </div>
    
            <div class="images-container">
                <img id="valgBilde" class="choice-image" src="static/bilder/Placeholderr.jpg" alt="User's Choice">
                <p id="resultat"></p>
                <img id="botBilde" class="choice-image" src="static/bilder/Placeholderr.jpg" alt="Bot's Choice">
            </div>
    
            <div class="scores">
                <p class="score-item" id="scoree">Score: 0</p>
                <p class="score-item" id="high_score">High score: 0</p>
            </div>
    
            <div class="valgg">
                <div class="knap">
                    <button onclick="userChoice(this.id)" id="rock">
                        <img src="static/bilder/rock.png" alt="rock">
                    </button>
                </div>
                <div class="knap">
                    <button onclick="userChoice(this.id)" id="paper">
                        <img src="static/bilder/paper.png" alt="paper">
                    </button>
                </div>
                <div class="knap">
                    <button onclick="userChoice(this.id)" id="scissor">
                        <img src="static/bilder/scissor.png" alt="scissor">
                    </button>
                </div>
            </div>
        </div>
    </div>
   

    <script src="static/script.js"></script>
</body>
</html>